body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.quem-somos {
    background-color: rgb(107, 143, 204);
    color: white;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}